<small><small><i>
All of these python notebooks are available at [https://gitlab.erc.monash.edu.au/andrease/Python4Maths.git]
</i></small></small>

# Python ...
- is an open source programming language
- is an object-oriented programming language
- is an interpreter-language
- provides easy interfaces to other languages like C, Java, or Fortran
- provides a lot of third-party modules to extend the range of functions
- has [batteries included](https://www.python.org/dev/peps/pep-0206/)

for further information: https://www.python.org/

## Basics
The basic rules for writing simple statments and expressions in Python are:
* No spaces or tab characters allowed at the start of a statement: Indentation plays a special role in Python (see the section on control statements). For now simply ensure that all statements start at the beginning of the line.
* The '#' character indicates that the rest of the line is a comment
* Statements finish at the end of the line:
  * Except when there is an open bracket or paranthesis:
```python
1+2
+3  #illegal continuation of the sum
(1+2
             + 3) # perfectly OK even with spaces
```

  * A single backslash at the end of the line can also be used to indicate that a statement is still incomplete  
```python
1 + \
   2 + 3 # this is also OK
```
The jupyter notebook system for writting Python intersperses text (like this) with Python statements. Try typing something into the cell (box) below and press the 'run cell' button above (triangle+line symbol) to execute it.

In [1]:
1+2+3

6

Python has extensive help built in. You can execute [**help()**](https://docs.python.org/3/library/functions.html#help) for an overview or [**help(x)**](https://docs.python.org/3/library/functions.html#help) for any library, object or type **x** to get more information. For example:

```python
help()

Welcome to Python 3.6's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at http://docs.python.org/3.6/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> 

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.```

## Variables & Values

A name that is used to denote something or a value is called a variable. In python, variables can be declared and values can be assigned to it as follows,

In [2]:
x = 2          # anything after a '#' is a comment
y = 5
xy = 'Hey'
print(x+y, xy) # not really necessary as the last value in a bit of code is displayed by default

7 Hey

Multiple variables can be assigned with the same value.

In [3]:
x = y = 1 
print(x, y)

1 1

The basic types build into Python include `int` (integers), `float` (floating point numbers), `complex` (complex number), `bool` (boolean) and `str` (unicode character strings). Some examples of each:

In [4]:
-1234567890   # an integer
2.0           # a simple floating point number
complex(1,2)
(1+2j) # the same number as above
True or False # the two possible boolean values
'This is a string'
"It's another string"
print("""Triple quotes (also with '''), allow strings to break over multiple lines.
Alternatively \n is a newline character (\t for tab, \\ is a single backslash)""")

Triple quotes (also with '''), allow strings to break over multiple lines.
Alternatively
 is a newline character (	 for tab, \ is a single backslash)

Python natively allows (nearly) infinite length integers while floating point numbers are double precision numbers:

In [5]:
11**300

2617010996188399907017032528972038342491649416953000260240805955827972056685382434497090341496787032585738884786745286700473999847280664191731008874811751310888591786111994678208920175143911761181424495660877950654145066969036252669735483098936884016471326487403792787648506879212630637101259246005701084327338001

```python
11.0**300
---------------------------------------------------------------------------
OverflowError                             Traceback (most recent call last)
<ipython-input-7-b61ab01789ad> in <module>()
----> 1 11.0**300

OverflowError: (34, 'Result too large')```

### Arithmetic Operators

`+`: Addition  
`-`: Subtraction  
`/`: division  
`%`: mod  
`*`: multiplication  
`//`: floor division  
`**`: to the power of

In [6]:
1+2

3

In [7]:
2-1

1

In [8]:
1*2

2

In [9]:
3/4

0.75

In many languages (and older versions of python) 1/2 = 0 (truncated division). In Python 3 this behaviour is captured by a separate operator that rounds down: (ie a // b$=\lfloor \frac{a}{b}\rfloor$)

In [10]:
3//4.0

0.0

In [11]:
15%10

5

### Relational Operators

`==`: True, if it is equal  
`!=`: True, if not equal to  
`<`: less than  
`>`: greater than  
`<=`: less than or equal to  
`>=`: greater than or equal to  

Note the difference between `==` (equality test) and `=` (assignment)

In [12]:
z = 2
z == 2

True

In [13]:
z > 2

False

Comparisons can also be chained in the mathematically obvious way. The following will work as expected in Python (but not in other languages like C/C++):

In [14]:
0.5 < z <= 1

False

#### Boolean and Bitwise Operators


`and`: Logical and | `&`: Bitwise and  
`or`: Logical or | `|`: Bitwise or  
`^`: Bitwise exclusive or  
`not`: Logical not | `~`: Bitwise negation  
`>>`: Bitwise riight shift  
`<<`: Bitwise left shift

In [15]:
a = 2 #binary: 10
b = 3 #binary: 11
print('a & b =',a & b,"=",bin(a&b))
print('a | b =',a | b,"=",bin(a|b))
print('a ^ b =',a ^ b,"=",bin(a^b))

a & b = 2 = 0b10
a | b = 3 = 0b11
a ^ b = 1 = 0b1

In [16]:
print( not (True and False), "==", not True or not False)

True == True

### Built-in Functions

Python comes with a wide range of functions. However many of these are part of stanard libraries like the `math` library rather than built-in.

#### Converting values

Conversion from hexadecimal to decimal is done by adding prefix **0x** to the hexadecimal value or vice versa by using built in [**hex( )**](https://docs.python.org/3/library/functions.html#hex), Octal to decimal by adding prefix **0** to the octal value or vice versa by using built in function [**oct( )**](https://docs.python.org/3/library/functions.html#oct).

In [17]:
hex(170)

'0xaa'

In [18]:
0xAA

170

[**int( )** ](https://docs.python.org/3/library/functions.html#int)converts a number to an integer. This can be a single floating point number, integer or a string. For strings the base can optionally be specified:

In [19]:
print(int(7.7), int('111',2),int('7'))

7 7 7

 Similarly, the function [**str( )**](https://docs.python.org/3/library/functions.html#func-str) can be used to convert almost anything to a string

In [20]:
print(str(True),str(1.2345678),str(-2))

True 1.2345678 -2

#### Mathematical functions
Mathematical functions include the usual suspects like logarithms, trigonometric fuctions, the constant $\pi$ and so on.

In [21]:
import math
math.sin(math.pi/2)
from math import * # avoid having to put a math. in front of every mathematical function
sin(pi/2) # equivalent to the statement above

1.0

#### Simplifying Arithmetic Operations

[**round( )**](https://docs.python.org/3/library/functions.html#round) function rounds the input value to a specified number of places or to the nearest integer.

In [22]:
print( round(5.6231) )
print( round(4.55892, 2) )

6
4.56

[**complex( )**](https://docs.python.org/3/library/functions.html#complex) is used to define a complex number and [**abs( )**](https://docs.python.org/3/library/functions.html#abs) outputs the absolute value of the same.

In [23]:
c =complex('5+2j')
print( abs(c) )

5.385164807134504

[**divmod(x,y)**](https://docs.python.org/3/library/functions.html#divmod) outputs the quotient and the remainder in a tuple(you will be learning about it in the further chapters) in the format (quotient, remainder).

In [24]:
divmod(9,2)

(4, 1)

#### Accepting User Inputs

[**input(prompt)**](https://docs.python.org/3/library/functions.html#input),  prompts for and returns input as a string. A useful function to use in conjunction with this is [**eval()**](https://docs.python.org/3/library/functions.html#eval) which takes a string and evaluates it as a python expression.

```python
abc =  input("abc = ")
abcValue=eval(abc)
print(abc,'=',abcValue)```

## Working with strings

### The Print Statement

As seen previously, The [**print()**](https://docs.python.org/3/library/functions.html#print) function prints all of its arguments as strings, separated by spaces and follows by a linebreak:

    - print("Hello World")
    - print("Hello",'World')
    - print("Hello", <Variable Containing the String>)

Note that [**print**](https://docs.python.org/3/library/functions.html#print) is different in old versions of Python (2.7) where it was a statement and did not need parenthesis around its arguments.

In [25]:
print("Hello","World")

Hello World

The print has some optional arguments to control where and how to print. This includes `sep` the separator (default space) and `end` (end charcter) and `file` to write to a file.

In [26]:
print("Hello","World",sep='...',end='!!')

Hello...World!!

### String Formating

There are lots of methods for formating and manipulating strings built into python. Some of these are illustrated here.

String concatenation is the "addition" of two strings. Observe that while concatenating there will be no space between the strings.

In [38]:
string1='World'
string2='!'
print('Hello' + string1 + string2)

HelloWorld!

The [formatted string literal](https://docs.python.org/3/reference/lexical_analysis.html#f-strings) or [f-string](https://docs.python.org/3/reference/lexical_analysis.html#f-strings) is a string literal that is prefixed with 'f' or 'F'. These strings may contain replacement fields, which are expressions delimited by curly braces {}. While other string literals always have a constant value, formatted strings are really expressions evaluated at run time.

In [39]:
d = 18
f = 18.0
o = oct(18)
x = hex(18)

print(f"Actual Number = {d}")
print(f"Float of the number = {f}")
print(f"Octal equivalent of the number = {o}")
print(f"Hexadecimal equivalent of the number = {x}")

Actual Number = 18
Float of the number = 18.0
Octal equivalent of the number = 0o22
Hexadecimal equivalent of the number = 0x12

### Other String Methods

Multiplying a string by an integer simply repeats it

In [40]:
print("Hello World! "*5)

Hello World! Hello World! Hello World! Hello World! Hello World!

Strings can be tranformed by a variety of functions:

In [41]:
s="hello wOrld"
s2 = "     lots of space             "
print(s.capitalize())
print(s.upper())
print(s.lower())
print(f'{s}'.center(30)) # center in 30 characters
print(f'{s2}'.strip()) # remove leading and trailing whitespace
print("Hello World".replace("World","Class"))

Hello world
HELLO WORLD
hello world
         hello wOrld
lots of space
Hello Class

There are also lost of ways to inspect or check strings. Examples of a few of these are given here:

In [42]:
s="Hello World"
print("The length of '%s' is"%s,len(s),"characters") # len() gives length
s.startswith("Hello") and s.endswith("World") # check start/end
# count strings
print("There are %d 'l's but only %d World in %s" % (s.count('l'),s.count('World'),s))
print('"el" is at index',s.find('el'),"in",s) #index from 0 or -1

The length of 'Hello World' is 11 characters
There are 3 'l's but only 1 World in Hello World
"el" is at index 1 in Hello World

### String comparison operations
Strings can be compared in lexicographical order with the usual comparisons. In addition the `in` operator checks for substrings:

In [43]:
'abc' < 'bbc' <= 'bbc'

True

In [44]:
"ABC" in "This is the ABC of Python"

True

### Accessing parts of strings

Strings can be indexed with square brackets. Indexing starts from zero in Python.

In [49]:
s = '123456789'
print('First charcter of',s,'is',s[0])
print('Last charcter of',s,'is',s[len(s)-1])

First charcter of 123456789 is 1
Last charcter of 123456789 is 9

Negative indices can be used to start counting from the back

In [50]:
print('First charcter of',s,'is',s[-len(s)])
print('Last charcter of',s,'is',s[-1])

First charcter of 123456789 is 1
Last charcter of 123456789 is 9

Finally a substring (range of characters) an be specified as using $a:b$ to specify the characters at index $a,a+1,\ldots,b-1$. Note that the last charcter is *not* included.

In [51]:
print("First three charcters",s[0:3])
print("Next three characters",s[3:6])

First three charcters 123
Next three characters 456

An empty beginning and end of the range denotes the beginning/end of the string:

In [52]:
print("First three characters", s[:3])
print("Last three characters", s[-3:])

First three characters 123
Last three characters 789

### Strings are immutable

It is important that strings are constant, immutable values in Python. While new strings can easily be created it is not possible to modify a string:

```python
s='012345'
sX=s[:2]+'X'+s[3:] # this creates a new string with 2 replaced by X
print("creating new string",sX,"OK")
sX=s.replace('2','X') # the same thing
print(sX,"still OK")
s[2] = 'X' # an error!!!

creating new string 01X345 OK
01X345 still OK
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-38-93bf77b20e7d> in <module>()
      4 sX=s.replace('2','X') # the same thing
      5 print(sX,"still OK")
----> 6 s[2] = 'X' # an error!!!

TypeError: 'str' object does not support item assignment```

## Data Structures

In simple terms, it is the the collection or group of data in a particular structure.

### [Lists](https://docs.python.org/3/tutorial/datastructures.html#more-on-lists)

Lists are the most commonly used data structure. Think of it as a sequence of data that is enclosed in square brackets and data are separated by a comma. Each of these data can be accessed by calling it's index value.

Lists are declared by just equating a variable to '[ ]' or list.

In [138]:
a = []

In [139]:
type(a)

list

One can directly assign the sequence of data to a list x as shown.

In [140]:
x = ['apple', 'orange']

#### Indexing

In python, indexing starts from 0 as already seen for strings. Thus now the list x, which has two elements will have apple at 0 index and orange at 1 index.

In [141]:
x[0]

'apple'

Indexing can also be done in reverse order. That is the last element can be accessed first. Here, indexing starts from -1. Thus index value -1 will be orange and index -2 will be apple.

In [142]:
x[-1]

'orange'

As you might have already guessed, x[0] = x[-2], x[1] = x[-1]. This concept can be extended towards lists with more many elements.

In [143]:
y = ['carrot','potato']

Here we have declared two lists x and y each containing its own data. Now, these two lists can again be put into another list say z which will have it's data as two lists. This list inside a list is called as nested lists and is how an array would be declared which we will see later.

In [144]:
z  = [x,y]
print( z )

[['apple', 'orange'], ['carrot', 'potato']]

Indexing in nested lists can be quite confusing if you do not understand how indexing works in python. So let us break it down and then arrive at a conclusion.

Let us access the data 'apple' in the above nested list.
First, at index 0 there is a list ['apple','orange'] and at index 1 there is another list ['carrot','potato']. Hence z[0] should give us the first list which contains 'apple' and 'orange'. From this list we can take the second element (index 1) to get 'orange'

In [145]:
print( z )

[['apple', 'orange'], ['carrot', 'potato']]

In [146]:
print(z[0][1])

orange

Lists do not have to be homogenous. Each element can be of a different type:

In [147]:
["this is a valid list",2,3.6,(1+2j),["a","sublist"]]

['this is a valid list', 2, 3.6, (1+2j), ['a', 'sublist']]

#### Slicing

Indexing was only limited to accessing a single element, Slicing on the other hand is accessing a sequence of data inside the list. In other words "slicing" the list.

Slicing is done by defining the index values of the first element and the last element from the parent list that is required in the sliced list. It is written as parentlist[ a : b ] where a,b are the index values from the parent list. If a or b is not defined then the index value is considered to be the first value for a if a is not defined and the last value for b when b is not defined.

In [148]:
num = [0,1,2,3,4,5,6,7,8,9]
print(num[0:4])
print(num[4:])

[0, 1, 2, 3]
[4, 5, 6, 7, 8, 9]

You can also slice a parent list with a fixed length or step length.

In [149]:
num[:9:3]

[0, 3, 6]

#### Built in List Functions

To find the length of the list or the number of elements in a list, [**len( )**](https://docs.python.org/3/library/functions.html#len) is used.

In [150]:
len(num)

10

If the list consists of all integer elements then [**min( )**](https://docs.python.org/3/library/functions.html#min) and [**max( )**](https://docs.python.org/3/library/functions.html#max) gives the minimum and maximum value in the list. Similarly [**sum**](https://docs.python.org/3/library/functions.html#sum) is the sum

In [151]:
print("min =",min(num),"  max =",max(num),"  total =",sum(num))

min = 0   max = 9   total = 45

In [152]:
max(num)

9

Lists can be concatenated by adding, '+' them. The resultant list will contain all the elements of the lists that were added. The resultant list will not be a nested list.

In [153]:
[1,2,3] + [5,4,7]

[1, 2, 3, 5, 4, 7]

There might arise a requirement where you might need to check if a particular element is there in a predefined list. Consider the below list.

In [154]:
names = ['Earth','Air','Fire','Water']

To check if 'Fire' and 'Rajath' is present in the list names. A conventional approach would be to use a for loop and iterate over the list and use the if condition. But in python you can use 'a in b' concept which would return 'True' if a is present in b and 'False' if not.

In [155]:
'Fire' in names

True

In [156]:
'Space' in names

False

In a list with string elements, [**max( )**](https://docs.python.org/3/library/functions.html#max) and [**min( )**](https://docs.python.org/3/library/functions.html#min) are still applicable and return the first/last element in lexicographical order.

In [157]:
mlist = ['bzaa','ds','nc','az','z','klm']
print("max =",max(mlist))
print("min =",min(mlist))

max = z
min = az

Here the first index of each element is considered and thus z has the highest ASCII value thus it is returned and minimum ASCII is a. But what if numbers are declared as strings?

In [158]:
nlist = ['1','94','93','1000']
print("max =",max(nlist))
print('min =',min(nlist))

max = 94
min = 1

Even if the numbers are declared in a string the first index of each element is considered and the maximum and minimum values are returned accordingly.

But if you want to find the [**max( )**](https://docs.python.org/3/library/functions.html#max)  string element based on the length of the string then another parameter `key` can be used to specify the function to use for generating the value on which to sort. Hence finding the longest and shortest string in `mlist` can be doen using the [`len`](https://docs.python.org/3/library/functions.html#len) function:

In [159]:
print('longest =',max(mlist, key=len))
print('shortest =',min(mlist, key=len))

longest = bzaa
shortest = z

Any other built-in or user defined function can be used.

A string can be converted into a list by using the [**list()**](https://docs.python.org/3/library/stdtypes.html#typesseq-list) function, or more usefully using the [**split()**](https://docs.python.org/3.6/library/stdtypes.html#str.split) method, which breaks strings up based on spaces.

In [160]:
print(list('hello world !'),'Hello   World !!'.split())

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', ' ', '!'] ['Hello', 'World', '!!']

[**append( )**](https://docs.python.org/3.6/tutorial/datastructures.html) is used to add a single element at the end of the list.

In [161]:
lst = [1,1,4,8,7]
lst.append(1)
print(lst)

[1, 1, 4, 8, 7, 1]

Appending a list to a list would create a sublist. If a nested list is not what is desired then the [**extend( )**](https://docs.python.org/3.6/tutorial/datastructures.html) function can be used.

In [162]:
lst.extend([10,11,12])
print(lst)

[1, 1, 4, 8, 7, 1, 10, 11, 12]

[**count( )**](https://docs.python.org/3.6/tutorial/datastructures.html) is used to count the number of a particular element that is present in the list.

In [163]:
lst.count(1)

3

[**index( )**](https://docs.python.org/3.6/tutorial/datastructures.html) is used to find the index value of a particular element. Note that if there are multiple elements of the same value then the first index value of that element is returned.

In [164]:
lst.index(1)

0

[**insert(x,y)**](https://docs.python.org/3.6/tutorial/datastructures.html) is used to insert a element y at a specified index value x. [**append( )**](https://docs.python.org/3.6/tutorial/datastructures.html) function made it only possible to insert at the end.

In [165]:
lst.insert(5, 'name')
print(lst)

[1, 1, 4, 8, 7, 'name', 1, 10, 11, 12]

[**insert(x,y)**](https://docs.python.org/3.6/tutorial/datastructures.html) inserts but does not replace element. If you want to replace the element with another element you simply assign the value to that particular index.

In [166]:
lst[5] = 'Python'
print(lst)

[1, 1, 4, 8, 7, 'Python', 1, 10, 11, 12]

[**pop( )**](https://docs.python.org/3.6/tutorial/datastructures.html) function return the last element in the list. This is similar to the operation of a stack. Hence it wouldn't be wrong to tell that lists can be used as a stack.

In [167]:
lst.pop()

12

Index value can be specified to pop a ceratin element corresponding to that index value.

In [168]:
lst.pop(0)

1

[**pop( )**](https://docs.python.org/3.6/tutorial/datastructures.html) is used to remove element based on it's index value which can be assigned to a variable. One can also remove element by specifying the element itself using the [**remove( )**](https://docs.python.org/3.6/tutorial/datastructures.html) function.

In [169]:
lst.remove('Python')
print(lst)

[1, 4, 8, 7, 1, 10, 11]

Alternative to [**remove**](https://docs.python.org/3.6/tutorial/datastructures.html) function but with using index value is [**del**](https://docs.python.org/3/tutorial/datastructures.html#the-del-statement)

In [170]:
del lst[1]
print(lst)

[1, 8, 7, 1, 10, 11]

The entire elements present in the list can be reversed by using the [**reverse()**](https://docs.python.org/3/tutorial/datastructures.html#using-lists-as-stacks) function.

In [171]:
lst.reverse()
print(lst)

[11, 10, 1, 7, 8, 1]

Python offers built in operation [**sort( )**](https://docs.python.org/3/tutorial/datastructures.html#using-lists-as-stacks) to arrange the elements in ascending order. Alternatively [**sorted()**](https://docs.python.org/3/library/functions.html#sorted) can be used to construct a copy of the list in sorted order

In [172]:
lst.sort()
print(lst)
print(sorted([3,2,1])) # another way to sort

[1, 1, 7, 8, 10, 11]
[1, 2, 3]

For descending order, By default the reverse condition will be False for reverse. Hence changing it to True would arrange the elements in descending order.

In [173]:
lst.sort(reverse=True)
print(lst)

[11, 10, 8, 7, 1, 1]

Similarly for lists containing string elements, [**sort( )**](https://docs.python.org/3/tutorial/datastructures.html#using-lists-as-stacks) would sort the elements based on it's ASCII value in ascending and by specifying reverse=True in descending.

In [174]:
names.sort()
print(names)
names.sort(reverse=True)
print(names)

['Air', 'Earth', 'Fire', 'Water']
['Water', 'Fire', 'Earth', 'Air']

To sort based on length key=len should be specified as shown.

In [175]:
names.sort(key=len)
print(names)
print(sorted(names,key=len,reverse=True))

['Air', 'Fire', 'Water', 'Earth']
['Water', 'Earth', 'Fire', 'Air']

#### Copying a list

Assignment of a list does not imply copying. It simply creates a second reference to the same list. Most of new python programmers get caught out by this initially. Consider the following,

In [176]:
lista= [2,1,4,3]
listb = lista
print(listb)

[2, 1, 4, 3]

Here, We have declared a list, lista = [2,1,4,3]. This list is copied to listb by assigning it's value and it get's copied as seen. Now we perform some random operations on lista.

In [177]:
lista.sort()
lista.pop()
lista.append(9)
print("A =",lista)
print("B =",listb)

A = [1, 2, 3, 9]
B = [1, 2, 3, 9]

listb has also changed though no operation has been performed on it. This is because you have assigned the same memory space of lista to listb. So how do fix this?

If you recall, in slicing we had seen that parentlist[a:b] returns a list from parent list with start index a and end index b and if a and b is not mentioned then by default it considers the first and last element. We use the same concept here. By doing so, we are assigning the data of lista to listb as a variable.

In [178]:
lista = [2,1,4,3]
listb = lista[:] # make a copy by taking a slice from beginning to end
print("Starting with:")
print("A =",lista)
print("B =",listb)
lista.sort()
lista.pop()
lista.append(9)
print("Finnished with:")
print("A =",lista)
print("B =",listb)

Starting with:
A = [2, 1, 4, 3]
B = [2, 1, 4, 3]
Finnished with:
A = [1, 2, 3, 9]
B = [2, 1, 4, 3]

#### [List comprehension](https://docs.python.org/3/tutorial/datastructures.html#list-comprehensions)
A very powerful concept in Python (that also applies to Tuples, sets and dictionaries as we will see below), is the ability to define lists using list comprehension (looping) expression. For example:

In [179]:
[i**2 for i in [1,2,3]]

[1, 4, 9]

As can be seen this constructs a new list by taking each element of the original `[1,2,3]` and squaring it. We can have multiple such implied loops to get for example:

In [180]:
[10*i+j for i in [1,2,3] for j in [5,7]]

[15, 17, 25, 27, 35, 37]

Finally the looping can be filtered using an [**if**](https://docs.python.org/3/tutorial/controlflow.html#if-statements) expression with the [**for** - **in**](https://docs.python.org/3/tutorial/controlflow.html#for-statements) construct.

In [181]:
[10*i+j for i in [1,2,3] if i%2==1 for j in [4,5,7] if j >= i+4] # keep odd i and  j larger than i+3 only

[15, 17, 37]

### [Tuples](https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences)

Tuples are similar to lists but only big difference is the elements inside a list can be changed but in tuple it cannot be changed. Think of tuples as something which has to be True for a particular something and cannot be True for no other values. For better understanding, Recall [**divmod()**](https://docs.python.org/3/library/functions.html#divmod) function.

In [182]:
xyz = divmod(10,3)
print(xyz)
print(type(xyz))

(3, 1)
<class 'tuple'>

Here the quotient has to be 3 and the remainder has to be 1. These values cannot be changed whatsoever when 10 is divided by 3. Hence divmod returns these values in a tuple.

To define a tuple, A variable is assigned to paranthesis ( ) or tuple( ).

In [183]:
tup = ()
tup2 = tuple()

If you want to directly declare a tuple it can be done by using a comma at the end of the data.

In [184]:
27,

(27,)

27 when multiplied by 2 yields 54, But when multiplied with a tuple the data is repeated twice.

In [185]:
2*(27,)

(27, 27)

Values can be assigned while declaring a tuple. It takes a list as input and converts it into a tuple or it takes a string and converts it into a tuple.

In [186]:
tup3 = tuple([1,2,3])
print(tup3)
tup4 = tuple('Hello')
print(tup4)

(1, 2, 3)
('H', 'e', 'l', 'l', 'o')

It follows the same indexing and slicing as Lists.

In [187]:
print(tup3[1])
tup5 = tup4[:3]
print(tup5)

2
('H', 'e', 'l')

#### Mapping one tuple to another
Tupples can be used as the left hand side of assignments and are matched to the correct right hand side elements - assuming they have the right length

In [188]:
(a,b,c)= ('alpha','beta','gamma') # are optional
a,b,c= 'alpha','beta','gamma' # The same as the above
print(a,b,c)
a,b,c = ['Alpha','Beta','Gamma'] # can assign lists
print(a,b,c)
[a,b,c]=('this','is','ok') # even this is OK
print(a,b,c)

alpha beta gamma
Alpha Beta Gamma
this is ok

More complex nexted unpackings of values are also possible

In [189]:
(w,(x,y),z)=(1,(2,3),4)
print(w,x,y,z)
(w,xy,z)=(1,(2,3),4)
print(w,xy,z) # notice that xy is now a tuple

1 2 3 4
1 (2, 3) 4

#### Built In Tuple functions

[**count()**](https://docs.python.org/3/tutorial/datastructures.html#more-on-lists) function counts the number of specified element that is present in the tuple.

In [190]:
d=tuple('a string with many "a"s')
d.count('a')

3

[**index()**](https://docs.python.org/3/tutorial/datastructures.html#more-on-lists) function returns the index of the specified element. If the elements are more than one then the index of the first element of that specified element is returned

In [191]:
d.index('a')

0

### [Sets](https://docs.python.org/3/tutorial/datastructures.html#sets)

Sets are mainly used to eliminate repeated numbers in a sequence/list. It is also used to perform some standard set operations.

Sets are declared as set() which will initialize a empty set. Also [`set([sequence])`](https://docs.python.org/3/tutorial/datastructures.html#sets) can be executed to declare a set with elements

In [208]:
set1 = set()
print(type(set1))

<class 'set'>

In [209]:
set0 = set([1,2,2,3,3,4])
set0 = {1,2,2,3,3,4} # equivalent to the above
print(set0)

{1, 2, 3, 4}

elements 2,3 which are repeated twice are seen only once. Thus in a set each element is distinct.

However be warned that **{}** is **NOT** a set, but a dictionary (see next chapter of this tutorial)

In [210]:
type({})

dict

#### Built-in Functions

In [211]:
set1 = set([1,2,3])

In [212]:
set2 = set([2,3,4,5])

[**union( )**](https://docs.python.org/3.6/library/stdtypes.html?highlight=set%20union#set-types-set-frozenset) function returns a set which contains all the elements of both the sets without repition.

In [213]:
set1.union(set2)

{1, 2, 3, 4, 5}

[**add( )**](https://docs.python.org/3.6/library/stdtypes.html?highlight=set%20union#set-types-set-frozenset) will add a particular element into the set. Note that the index of the newly added element is arbitrary and can be placed anywhere not neccessarily in the end.

In [214]:
set1.add(0)
set1

{0, 1, 2, 3}

[**intersection( )**](https://docs.python.org/3.6/library/stdtypes.html?highlight=set%20union#set-types-set-frozenset) function outputs a set which contains all the elements that are in both sets.

In [215]:
set1.intersection(set2)

{2, 3}

[**difference( )**](https://docs.python.org/3.6/library/stdtypes.html?highlight=set%20union#set-types-set-frozenset) function ouptuts a set which contains elements that are in set1 and not in set2.

In [216]:
set1.difference(set2)

{0, 1}

[**symmetric_difference( )**](https://docs.python.org/3.6/library/stdtypes.html?highlight=set%20union#set-types-set-frozenset) function ouputs a function which contains elements that are in one of the sets.

In [217]:
set2.symmetric_difference(set1)

{0, 1, 4, 5}

**[issubset( )](https://docs.python.org/3.6/library/stdtypes.html?highlight=set%20union#set-types-set-frozenset), [isdisjoint( )](https://docs.python.org/3.6/library/stdtypes.html?highlight=set%20union#set-types-set-frozenset), [issuperset( )](https://docs.python.org/3.6/library/stdtypes.html?highlight=set%20union#set-types-set-frozenset)** is used to check if the set1/set2 is a subset, disjoint or superset of set2/set1 respectively.

In [218]:
set1.issubset(set2)

False

In [219]:
set2.isdisjoint(set1)

False

In [220]:
set2.issuperset(set1)

False

[**pop( )**](https://docs.python.org/3.6/library/stdtypes.html?highlight=set%20union#set-types-set-frozenset) is used to remove an arbitrary element in the set

In [221]:
set1.pop()
print(set1)

{1, 2, 3}

[**remove( )**](https://docs.python.org/3.6/library/stdtypes.html?highlight=set%20union#set-types-set-frozenset) function deletes the specified element from the set.

In [222]:
set1.remove(2)
set1

{1, 3}

[**clear( )**](https://docs.python.org/3.6/library/stdtypes.html?highlight=set%20union#set-types-set-frozenset) is used to clear all the elements and make that set an empty set.

In [223]:
set1.clear()
set1

set()

### Strings

Strings have already been discussed in Chapter 02, but can also be treated as collections similar to lists and tuples.
For example

In [224]:
S = 'Taj Mahal is beautiful'
print([x for x in S if x.islower()]) # list of lower case charactes
words=S.split() # list of words
print("Words are:",words)
print("--".join(words)) # hyphenated 
" ".join(w.capitalize() for w in words) # capitalise words

['a', 'j', 'a', 'h', 'a', 'l', 'i', 's', 'b', 'e', 'a', 'u', 't', 'i', 'f', 'u', 'l']
Words are: ['Taj', 'Mahal', 'is', 'beautiful']
Taj--Mahal--is--beautiful

'Taj Mahal Is Beautiful'

String Indexing and Slicing are similar to Lists which was explained in detail earlier.

In [225]:
print(S[4])
print(S[4:])

M
Mahal is beautiful

### [Dictionaries](https://docs.python.org/3/tutorial/datastructures.html#dictionaries)

Dictionaries are mappings between keys and items stored in the dictionaries. Alternatively one can think of dictionaries as sets in which something stored against every element of the set. They can be defined as follows:

To define a dictionary, equate a variable to { } or dict()

In [226]:
d = dict() # or equivalently d={}
print(type(d))
d['abc'] = 3
d[4] = "A string"
print(d)

<class 'dict'>
{'abc': 3, 4: 'A string'}

As can be guessed from the output above. Dictionaries can be defined by using the `{ key : value }` syntax. The following dictionary has three elements

In [227]:
d = { 1: 'One', 2 : 'Two', 100 : 'Hundred'}
len(d)

3

Now you are able to access 'One' by the index value set at 1

In [228]:
print(d[1])

One

There are a number of alternative ways for specifying a dictionary including as a list of `(key,value)` tuples.
To illustrate this we will start with two lists and form a set of tuples from them using the [**zip()**](https://docs.python.org/3/library/functions.html#zip) function
Two lists which are related can be merged to form a dictionary.

In [229]:
names = ['One', 'Two', 'Three', 'Four', 'Five']
numbers = [1, 2, 3, 4, 5]
[ (name,number) for name,number in zip(names,numbers)] # create (name,number) pairs

[('One', 1), ('Two', 2), ('Three', 3), ('Four', 4), ('Five', 5)]

Now we can create a dictionary that maps the name to the number as follows.

In [230]:
a1 = dict((name,number) for name,number in zip(names,numbers))
print(a1)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

Note that the ordering for this dictionary is not based on the order in which elements are added but on its own ordering (based on hash index ordering). It is best never to assume an ordering when iterating over elements of a dictionary.

By using tuples as indexes we make a dictionary behave like a sparse matrix:

In [231]:
matrix={ (0,1): 3.5, (2,17): 0.1}
matrix[2,2] = matrix[0,1] + matrix[2,17]
print(matrix)

{(0, 1): 3.5, (2, 17): 0.1, (2, 2): 3.6}

Dictionary can also be built using the loop style definition.

In [232]:
a2 = { name : len(name) for name in names}
print(a2)

{'One': 3, 'Two': 3, 'Three': 5, 'Four': 4, 'Five': 4}

#### Built-in Functions

The [**len()**](https://docs.python.org/3/library/functions.html#len) function and **in** operator have the obvious meaning:

In [233]:
print("a1 has",len(a1),"elements")
print("One is in a1",'One' in a1,"but not Zero", 'Zero' in a1)

a1 has 5 elements
One is in a1 True but not Zero False

[**clear( )**](https://docs.python.org/3.6/library/stdtypes.html?highlight=set%20union#mapping-types-dict) function is used to erase all elements.

In [234]:
a2.clear()
print(a2)

{}

[**values( )**](https://docs.python.org/3.6/library/stdtypes.html?highlight=set%20union#mapping-types-dict) function returns a list with all the assigned values in the dictionary. (Acutally not quit a list, but something that we can iterate over just like a list to construct a list, tuple or any other collection):

In [235]:
[ v for v in a1.values() ]

[1, 2, 3, 4, 5]

[**keys( )**](https://docs.python.org/3.6/library/stdtypes.html?highlight=set%20union#mapping-types-dict) function returns all the index or the keys to which contains the values that it was assigned to.

In [236]:
{ k for k in a1.keys() }

{'Five', 'Four', 'One', 'Three', 'Two'}

[**items( )**](https://docs.python.org/3.6/library/stdtypes.html?highlight=set%20union#mapping-types-dict) is returns a list containing both the list but each element in the dictionary is inside a tuple. This is same as the result that was obtained when zip function was used - except that the ordering has been 'shuffled' by the dictionary.

In [237]:
",  ".join( "%s = %d" % (name,val) for name,val in a1.items())

'One = 1,  Two = 2,  Three = 3,  Four = 4,  Five = 5'

[**pop( )**](https://docs.python.org/3.6/library/stdtypes.html?highlight=set%20union#mapping-types-dict) function is used to get the remove that particular element and this removed element can be assigned to a new variable. But remember only the value is stored and not the key. Because the is just a index value.

In [238]:
val = a1.pop('Four')
print(a1)
print("Removed",val)

{'One': 1, 'Two': 2, 'Three': 3, 'Five': 5}
Removed 4

## [Control Flow Statements](https://docs.python.org/3/tutorial/controlflow.html)
The key thing to note about Python's control flow statements and program structure is that it uses _indentation_ to mark blocks. Hence the amount of white space (space or tab characters) at the start of a line is very important. This generally helps to make code more readable but can catch out new users of python.

### Conditionals

#### [If](https://docs.python.org/3/reference/compound_stmts.html#if)

```python
if some_condition:
    code block```

In [239]:
x = 12
if x > 10:
    print("Hello")

Hello

#### [If-else](https://docs.python.org/3/reference/compound_stmts.html#else)

```python
if some_condition:
    algorithm
else:
    algorithm```

In [240]:
x = 12
if 10 < x < 11:
    print("hello")
else:
    print("world")

world

#### [Else if](https://docs.python.org/3/reference/compound_stmts.html#elif)

```python
if some_condition:  
    algorithm
elif some_condition:
    algorithm
else:
    algorithm```

In [241]:
x = 10
y = 12
if x > y:
    print("x>y")
elif x < y:
    print("x<y")
else:
    print("x=y")

x<y

if statement inside a if statement or if-elif or if-else are called as nested if statements.

In [242]:
x = 10
y = 12
if x > y:
    print( "x>y")
elif x < y:
    print( "x<y")
    if x==10:
        print ("x=10")
    else:
        print ("invalid")
else:
    print ("x=y")

x<y
x=10

### Loops

#### [For](https://docs.python.org/3/reference/compound_stmts.html#for)

```python
for variable in something:
    algorithm```
    
When looping over integers the **range()** function is useful which generates a range of integers:
* range(n) =  0, 1, ..., n-1
* range(m,n)= m, m+1, ..., n-1
* range(m,n,s)= m, m+s, m+2s, ..., m + ((n-m-1)//s) * s

In [243]:
for ch in 'abc':
    print(ch)
total = 0
for i in range(5):
    total += i
for i,j in [(1,2),(3,1)]:
    total += i**j
print("total =",total)

a
b
c
total = 14

In the above example, i iterates over the 0,1,2,3,4. Every time it takes each value and executes the algorithm inside the loop. It is also possible to iterate over a nested list illustrated below.

In [244]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for list1 in list_of_lists:
        print(list1)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

A use case of a nested for loop in this case would be,

In [245]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
total=0
for list1 in list_of_lists:
    for x in list1:
        total = total+x
print(total)

45

There are many helper functions that make [**for**](https://docs.python.org/3/reference/compound_stmts.html#for) loops even more powerful and easy to use. For example [**enumerate()**](https://docs.python.org/3/library/functions.html#enumerate), [**zip()**](https://docs.python.org/3/library/functions.html#zip), [**sorted()**](https://docs.python.org/3/library/functions.html#sorted), [**reversed()**](https://docs.python.org/3/library/functions.html#reversed)

In [246]:
print("reversed: ",end="")
for ch in reversed("abc"):
    print(ch,end=";")
print("\nenuemerated: ")
for i,ch in enumerate("abc"):
    print(i,"=",ch,end="; ")
print("\nzip'ed: ")
for a,x in zip("abc","xyz"):
    print(a,":",x)

reversed: c;b;a;
enuemerated:
0 = a; 1 = b; 2 = c;
zip'ed:
a : x
b : y
c : z

#### [While](https://docs.python.org/3/reference/compound_stmts.html#while)

```python
while some_condition:  
    algorithm```

In [247]:
i = 1
while i < 3:
    print(i ** 2)
    i = i+1
print('Bye')

1
4
Bye

#### [Break](https://docs.python.org/3/reference/simple_stmts.html#break)

As the name says. It is used to break out of a loop when a condition becomes true when executing the loop.

In [248]:
for i in range(100):
    print(i)
    if i>=7:
        break

0
1
2
3
4
5
6
7

#### [Continue](https://docs.python.org/3/reference/simple_stmts.html#continue)

This continues the rest of the loop. Sometimes when a condition is satisfied there are chances of the loop getting terminated. This can be avoided using continue statement.

In [249]:
for i in range(10):
    if i>4:
        print("Ignored",i)
        continue
    # this statement is not reach if i > 4
    print("Processed",i)

Processed 0
Processed 1
Processed 2
Processed 3
Processed 4
Ignored 5
Ignored 6
Ignored 7
Ignored 8
Ignored 9

### [Catching exceptions](https://docs.python.org/3/reference/compound_stmts.html#try)

To break out of deeply nested exectution sometimes it is useful to raise an exception.
A try block allows you to catch exceptions that happen anywhere during the exeuction of the try block:
```python
try:
    code
except <Exception Type> as <variable name>:
    # deal with error of this type
except:
    # deal with any error```

In [250]:
try:
    count=0
    while True:
        while True:
            while True:
                print("Looping")
                count = count + 1
                if count > 3:
                    raise Exception("abort") # exit every loop or function
except Exception as e: # this is where we go when an exception is raised
    print("Caught exception:",e)

Looping
Looping
Looping
Looping
Caught exception: abort

This can also be useful to handle unexpected system errors more gracefully:

In [251]:
try:
    for i in [2,1.5,0.0,3]:
        inverse = 1.0/i
except: # no matter what exception
    print("Cannot calculate inverse")

Cannot calculate inverse

## [Functions](https://docs.python.org/3/tutorial/controlflow.html#defining-functions)

Functions can represent mathematical functions. More importantly, in programmming functions are a mechansim to allow code to be re-used so that complex programs can be built up out of simpler parts.

This is the basic syntax of a function

```python
def funcname(arg1, arg2,... argN):
    ''' Document String'''
    statements
    return <value>```

Read the above syntax as, A function by name "funcname" is defined, which accepts arguements "arg1,arg2,....argN". The function is documented and it is '''Document String'''. The function after executing the statements returns a "value".

Return values are optional (by default every function returns **None** if no return statement is executed)

In [252]:
print("Hello Jack.")
print("Jack, how are you?")

Hello Jack.
Jack, how are you?

Instead of writing the above two statements every single time it can be replaced by defining a function which would do the job in just one line. 

Defining a function firstfunc().

In [253]:
def firstfunc():
    print("Hello Jack.")
    print("Jack, how are you?")
firstfunc() # execute the function

Hello Jack.
Jack, how are you?

**firstfunc()** every time just prints the message to a single person. We can make our function **firstfunc()** to accept arguements which will store the name and then prints respective to that accepted name. To do so, add a argument within the function as shown.

In [254]:
def firstfunc(username):
    print("Hello %s." % username)
    print(username + ',' ,"how are you?")

In [255]:
name1 = 'sally' # or use input('Please enter your name : ')

 So we pass this variable to the function **firstfunc()** as the variable username because that is the variable that is defined for this function. i.e name1 is passed as username.

In [256]:
firstfunc(name1)

Hello sally.
sally, how are you?

### [Return Statement](https://docs.python.org/3/reference/simple_stmts.html#grammar-token-return_stmt)

When the function results in some value and that value has to be stored in a variable or needs to be sent back or returned for further operation to the main algorithm, a return statement is used.

In [257]:
def times(x,y):
    z = x*y
    return z

The above defined **times( )** function accepts two arguements and return the variable z which contains the result of the product of the two arguements

In [258]:
c = times(4,5)
print(c)

20

The z value is stored in variable c and can be used for further operations.

Instead of declaring another variable the entire statement itself can be used in the return statement as shown.

In [259]:
def times(x,y):
    '''This multiplies the two input arguments'''
    return x*y

In [260]:
c = times(4,5)
print(c)

20

Since the **times( )** is now defined, we can document it as shown above. This document is returned whenever **times( )** function is called under [**help( )**](https://docs.python.org/3/library/functions.html#help) function.

In [261]:
help(times)

Help on function times in module __main__:

times(x, y)
    This multiplies the two input arguments

Multiple variable can also be returned as a tuple. However this tends not to be very readable when returning many value, and can easily introduce errors when the order of return values is interpreted incorrectly.

In [262]:
eglist = [10,50,30,12,6,8,100]

In [263]:
def egfunc(eglist):
    highest = max(eglist)
    lowest = min(eglist)
    first = eglist[0]
    last = eglist[-1]
    return highest,lowest,first,last

If the function is just called without any variable for it to be assigned to, the result is returned inside a tuple. But if the variables are mentioned then the result is assigned to the variable in a particular order which is declared in the return statement.

In [264]:
egfunc(eglist)

(100, 6, 10, 100)

In [265]:
a,b,c,d = egfunc(eglist)
print(' a =',a,' b =',b,' c =',c,' d =',d)

 a = 100  b = 6  c = 10  d = 100

### [Default arguments](https://docs.python.org/3/tutorial/controlflow.html#default-argument-values)

When an argument of a function is common in majority of the cases this can be specified with a default value. This is also called an implicit argument.

In [266]:
def implicitadd(x,y=3,z=0):
    print("%d + %d + %d = %d"%(x,y,z,x+y+z))
    return x+y+z

**implicitadd( )** is a function accepts up to three arguments but most of the times the first argument needs to be added just by 3. Hence the second argument is assigned the value 3 and the third argument is zero. Here the last two arguments are default arguments.

Now if the second argument is not defined when calling the **implicitadd( )** function then it considered as 3.

In [267]:
implicitadd(4)

4 + 3 + 0 = 7

7

However we can call the same function with two or three arguments. A useful feature is to explicitly name the argument values being passed into the function. This gives great flexibility in how to call a function with optional arguments. All off the following are valid:

In [268]:
implicitadd(4,4)
implicitadd(4,5,6)
implicitadd(4,z=7)
implicitadd(2,y=1,z=9)
implicitadd(x=1)

4 + 4 + 0 = 8
4 + 5 + 6 = 15
4 + 3 + 7 = 14
2 + 1 + 9 = 12
1 + 3 + 0 = 4

4

### [Any number of arguments](https://docs.python.org/3/tutorial/controlflow.html#arbitrary-argument-lists)

If the number of arguments that is to be accepted by a function is not known then a asterisk symbol is used before the name of the argument to hold the remainder of the arguments. The following function requires at least one argument but can have many more.

In [269]:
def add_n(first,*args):
    "return the sum of one or more numbers"
    reslist = [first] + [value for value in args]
    print(reslist)
    return sum(reslist)

The above function defines a list of all of the arguments, prints the list and returns the sum of all of the arguments.

In [270]:
add_n(1,2,3,4,5)

[1, 2, 3, 4, 5]

15

In [271]:
add_n(6.5)

[6.5]

6.5

Arbitrary numbers of named arguments can also be accepted using `**`. When the function is called all of the additional named arguments are provided in a dictionary

In [272]:
def namedArgs(**names):
    'print the named arguments'
    # names is a dictionary of keyword : value
    print("  ".join(name+"="+str(value) 
                    for name,value in names.items()))

namedArgs(x=3*4,animal='mouse',z=(1+2j))

x=12  animal=mouse  z=(1+2j)

###  Global and Local Variables

Whatever variable is declared inside a function is local variable and outside the function in global variable.

In [273]:
eg1 = [1,2,3,4,5]

In the below function we are appending a element to the declared list inside the function. eg2 variable declared inside the function is a local variable.

In [274]:
def egfunc1():
    x=1
    def thirdfunc():
        x=2
        print("Inside thirdfunc x =", x) 
    thirdfunc()
    print("Outside x =", x)

In [275]:
egfunc1()

Inside thirdfunc x = 2
Outside x = 1

If a **global** variable is defined as shown in the example below then that variable can be called from anywhere. Global values should be used sparingly as they make functions harder to re-use.

In [276]:
eg3 = [1,2,3,4,5]

In [277]:
def egfunc1():
    x = 1.0 # local variable for egfunc1
    def thirdfunc():
        global x # globally defined variable 
        x = 2.0
        print("Inside thirdfunc x =", x) 
    thirdfunc()
    print("Outside x =", x)

In [278]:
egfunc1()
print("Globally defined x =",x)

Inside thirdfunc x = 2.0
Outside x = 1.0
Globally defined x = 2.0

### [Lambda Functions](https://docs.python.org/3/tutorial/controlflow.html#lambda-expressions)

These are small functions which are not defined with any name and carry a single expression whose result is returned. Lambda functions comes very handy when operating with lists. These function are defined by the keyword **lambda** followed by the variables, a colon and the respective expression.

In [279]:
z = lambda x: x * x

In [280]:
z(8)

64

#### Composing functions

Lambda functions can also be used to compose functions

In [281]:
def double(x):
    return 2*x
def square(x):
    return x*x
def f_of_g(f,g):
    "Compose two functions of a single variable"
    return lambda x: f(g(x))
doublesquare= f_of_g(double,square)
print("doublesquare is a",type(doublesquare))
doublesquare(3)

doublesquare is a <class 'function'>

18

## [Classes](https://docs.python.org/3/tutorial/classes.html)

Variables, Lists, Dictionaries etc in python are objects. Without getting into the theory part of Object Oriented Programming, explanation of the concepts will be done along this tutorial.

A class is declared as follows

```python
class class_name:
    methods (functions)```

In [282]:
class FirstClass:
    "This is an empty class"
    pass

[**pass**](https://docs.python.org/3/reference/simple_stmts.html#pass) in python means do nothing. The string defines the documentation of the class, accessible via `help(FirstClass)`

Above, a class object named "FirstClass" is declared now consider a "egclass" which has all the characteristics of "FirstClass". So all you have to do is, equate the "egclass" to "FirstClass". In python jargon this is called as creating an instance. "egclass" is the instance of "FirstClass"

In [283]:
egclass = FirstClass()

In [284]:
type(egclass)

__main__.FirstClass

In [285]:
type(FirstClass)

type

Objects (instances of a class) can hold data. A variable in an object is also called a field or an attribute. To access a field use the notation `object.field`. For example:x

In [286]:
obj1 = FirstClass()
obj2 = FirstClass()
obj1.x = 5
obj2.x = 6
x = 7
print("x in object 1 =",obj1.x,"x in object 2=",obj2.x,"global x =",x)

x in object 1 = 5 x in object 2= 6 global x = 7

Now let us add some "functionality" to the class.  A function inside a class is called as a "Method" of that class

In [287]:
class Counter:
    def reset(self,init=0):
        self.count = init
    def getCount(self):
        self.count += 1
        return self.count
counter = Counter()
counter.reset(0)
print("one =",counter.getCount(),"two =",counter.getCount(),"three =",counter.getCount())

one = 1 two = 2 three = 3

Note that the `reset()` and function and the `getCount()` method are callled with one less argument than they are declared with. The `self` argument is set by Python to the calling object. Here `counter.reset(0)` is equivalent to `Counter.reset(counter,0)`.
Using **self** as the name of the first argument of a method is simply a common convention. Python allows any name to be used.

Note that here it would be better if we could initialise Counter objects immediately with a default value of `count` rather than having to call `reset()`. A constructor method is declared in Python with the special name [`__init__`](https://docs.python.org/3/reference/datamodel.html#object.__init__):

In [288]:
class FirstClass:
    def __init__(self,name,symbol):
        self.name = name
        self.symbol = symbol

Now that we have defined a function and added the [\_\_init\_\_](https://docs.python.org/3/reference/datamodel.html#object.__init__) method. We can create a instance of FirstClass which now accepts two arguments.

In [289]:
eg1 = FirstClass('one',1)
eg2 = FirstClass('two',2)

In [290]:
print(eg1.name, eg1.symbol)
print(eg2.name, eg2.symbol)

one 1
two 2

[**dir( )**](https://docs.python.org/3/library/functions.html#dir) function comes very handy in looking into what the class contains and what all method it offers

In [291]:
print("Contents of Counter class:",dir(Counter) )
print("Contents of counter object:", dir(counter))

Contents of Counter class: ['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'getCount', 'reset']
Contents of counter object: ['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'count', 'getCount', 'reset']

[**dir( )**](https://docs.python.org/3/library/functions.html#dir) of an instance also shows it's defined attributes so the object has the additional 'count' attribute. Note that Python defines several default methods for actions like comparison (`__le__` is $\le$ operator). These and other special methods can be defined for classes to implement specific meanings for how object of that class should be compared, added, multiplied or the like.

Changing the FirstClass function a bit,

Just like global and local variables as we saw earlier, even classes have it's own types of variables.

Class Attribute : attributes defined outside the method and is applicable to all the instances.

Instance Attribute : attributes defined inside a method and is applicable to only that method and is unique to each instance.

In [292]:
class FirstClass:
    test = 'test'
    def __init__(self,n,s):
        self.name = n
        self.symbol = s

Here test is a class attribute and name is a instance attribute.

In [293]:
eg3 = FirstClass('Three',3)

In [294]:
print(eg3.test,eg3.name,eg3.symbol)

test Three 3

### [Inheritance](https://docs.python.org/3/tutorial/classes.html#inheritance)

There might be cases where a new class would have all the previous characteristics of an already defined class. So the new class can "inherit" the previous class and add it's own methods to it. This is called as inheritance.

Consider class SoftwareEngineer which has a method salary.

In [295]:
class SoftwareEngineer:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def salary(self, value):
        self.money = value
        print(self.name,"earns",self.money)

In [296]:
a = SoftwareEngineer('Kartik',26)

In [297]:
a.salary(40000)

Kartik earns 40000

In [298]:
[ name for name in dir(SoftwareEngineer) if not name.startswith("_")]

['salary']

Now consider another class Artist which tells us about the amount of money an artist earns and his artform.

In [299]:
class Artist:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def money(self,value):
        self.money = value
        print(self.name,"earns",self.money)
    def artform(self, job):
        self.job = job
        print(self.name,"is a", self.job)

In [300]:
b = Artist('Nitin',20)

In [301]:
b.money(50000)
b.artform('Musician')

Nitin earns 50000
Nitin is a Musician

In [302]:
[ name for name in dir(b) if not name.startswith("_")]

['age', 'artform', 'job', 'money', 'name']

money method and salary method are the same. So we can generalize the method to salary and inherit the SoftwareEngineer class to Artist class. Now the artist class becomes,

In [303]:
class Artist(SoftwareEngineer):
    def artform(self, job):
        self.job = job
        print (self.name,"is a", self.job)

In [304]:
c = Artist('Nishanth',21)

In [305]:
dir(Artist)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'artform',
 'salary']

In [306]:
c.salary(60000)
c.artform('Dancer')

Nishanth earns 60000
Nishanth is a Dancer

Suppose say while inheriting a particular method is not suitable for the new class. One can override this method by defining again that method with the same name inside the new class.

In [307]:
class Artist(SoftwareEngineer):
    def artform(self, job):
        self.job = job
        print(self.name,"is a", self.job)
    def salary(self, value):
        self.money = value
        print(self.name,"earns",self.money)
        print("I am overriding the SoftwareEngineer class's salary method")

In [308]:
c = Artist('Nishanth',21)

In [309]:
c.salary(60000)
c.artform('Dancer')

Nishanth earns 60000
I am overriding the SoftwareEngineer class's salary method
Nishanth is a Dancer

If the number of input arguments varies from instance to instance asterisk can be used as shown.

In [310]:
class NotSure:
    def __init__(self, *args):
        self.data = ' '.join(list(args))

In [311]:
yz = NotSure('I', 'Do' , 'Not', 'Know', 'What', 'To','Type')

In [312]:
yz.data

'I Do Not Know What To Type'

### Introspection
We have already seen the [`dir()`](https://docs.python.org/3/library/functions.html#dir) function for working out what is in a class. Python has many facilities to make introspection easy (that is working out what is in a Python object or module). Some useful functions are [**hasattr**](https://docs.python.org/3/library/functions.html#hasattr), [**getattr**](https://docs.python.org/3/library/functions.html#getattr), and [**setattr**](https://docs.python.org/3/library/functions.html#setattr):

In [313]:
ns = NotSure('test')
if hasattr(ns,'data'): # check if ns.data exists
    setattr(ns,'copy', # set ns.copy
            getattr(ns,'data')) # get ns.data
print('ns.copy =',ns.copy)

ns.copy = test